{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "react", "prettier", "format-imports"],
  "rules": {
    "max-len": ["error", { "code": 140 }],
    "prettier/prettier": "error",
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "no-case-declarations": "off",
    "format-imports/empty-line-after-imports": "error",
    "format-imports/group-imports-on-top": "error",
    "newline-before-return": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
