.container {
  padding-top: 100px;
  width: 400px;
  margin: auto;

  .title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    & > *:last-child {
      margin-left: 16px;
    }
  }
}
