.list {
  height: 100%;
  width: 260px;
  padding: 10px 10px 0 0;
  border-right: 1px solid #eee;

  .action-buttons {
    display: flex;

    .settings-button {
      padding-left: 0;
      padding-right: 0;
    }

    .create-button {
      margin-left: 10px;
      flex: 1;
    }
  }

  .filter {
    margin: 10px 0;
    display: flex;

    & > * {
      flex: 1;
      text-align: center;
    }
  }
}
